.container {
  margin: 25px auto;
  background-color: #FFF;
  display: inline-block;
}

.inner {
  border: 1px solid lightgray;
  background: whitesmoke;
  padding: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.img {
  height: 200px;
  width: 100px;
}

@media screen and (max-width:900px) {
  .img {
    height:400px;
    width: auto;
  }
}

