.nav {
  background-color: #e3b34a;
  padding: 12px;
  border-radius: 0;
  color: #FFF !important;
  background-image: none !important;
  border: none;
}

.navbarToggle {
  float: right;
  color: #FFF;
  padding: 9px 10px;
  padding-right: 20px;
  margin: 5px auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbarToggle {
      display: block;
  }
}

.mobileGlyph {
  font-size: 18px;
}

.title {
  color: #FFF !important;
  font-weight: 300;
  font-size: 18px;
}

.links {
  color: #FFF !important;
}

.glyphicon {
  composes: glyphiconCustom from './glyphicons.css';
}
